.custom-radio-button {
    background-color: #f0f0f0;
    border: none; /* Remove border */
    color: #000; /* Default text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    border-radius: 0; /* Square corners */
  }
  
  .custom-radio-button:hover {
    background-color: #cccccc; /* Gray background on hover */
    color: #000; /* Maintain text color */
  }
  
  .custom-radio-button.selected {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }
  
  .custom-radio-button.selected:hover {
    background-color: #555; /* Darker background on hover */
    color: #fff; /* White text on hover */
  }
  
  .custom-radio-button.selected::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;
  }
  