src/CSS/home.css

.carousel-container {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center align all items in the card body */
}

.product-image {
    width: 200px;
    height: 400px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    margin: 0 auto; /* Center the image horizontally */
}

.card-text {
    margin-top: auto;
    text-align: center; /* Optional: Center align text if desired */
}
.no-underline {
    text-decoration: none;
  }
  