.order-manager-container {
  padding: 16px;
}

.order-details-container {
  padding: 16px;
}

.order-details-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
}

.order-details-left,
.order-details-right {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left; /* Align text to the left */
}

.order-details-left {
  background-color: #f9f9f9;
}

.order-details-right {
  background-color: #fff;
}

.order-details-table img {
  max-width: 100px;
  height: auto;
}

.order-details-left p {
  margin: 8px 0;
}

.order-details-left span {
  font-weight: bold;
}
