.profile-container {
    margin-top: 20px;
  }
  
  .profile-info, .password-change {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .info-item label {
    flex: 0 0 150px;
    font-weight: bold;
  }
  
  .info-item span {
    flex: 1;
  }
  
  .edit-icon {
    width: 20px;
    height: 20px;
  }
  
  .password-change form {
    max-width: 400px;
  }
  
  .profile-orders {
    margin-top: 40px;
  }
  
  .profile-orders h2 {
    margin-bottom: 20px;
  }
  
  .detail-button {
    background-color: #000;
    color: #fff;
  }
  
  .detail-button:hover {
    background-color: #444;
  }
  