/* template.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sider-custom {
  background: #02101d !important;
  min-height: 100vh;
}

.header-custom {
  display: flex;
  align-items: center;
  background-color: #031220 !important;
  padding: 0 16px;
  height: 64px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 64px;
}

.logo {
  max-width: 100%;
  height: auto;
  max-height: 40px;
}

.layout-container {
  display: flex;
  min-height: 100vh;
}

.ant-dropdown-menu a { text-decoration: none; }
.ant-dropdown-menu a:hover { text-decoration: none; }
.ant-dropdown-menu-item:hover {
  background-color: #1890ff;
  color: #fff;
}
