html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.sider-custom {
  background: #02101d; /* Default Sider color */
  height: 200vh; /* Full height for Sider */
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto; /* Full height of the viewport */
}

.header-custom {
  display: flex;
  align-items: center;
  background-color: #01172bde; /* Blue background strip */
  padding-left: 16px;
  padding-right: 16px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo {
  max-width: 100%;
  height: 30px;
}

.layout-container {
  display: flex;
  height: 100vh;
}

.header-custom {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 64px; /* Chiều cao của header */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 16px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.ant-dropdown-menu a {
  text-decoration: none; /* Remove underline */
}

.ant-dropdown-menu a:hover {
  text-decoration: none; /* Ensure underline is removed on hover */
}

/* Optional: Add custom hover styling for better UX */
.ant-dropdown-menu-item:hover {
  background-color: #1890ff; /* Example hover color */
  color: #fff; /* Example text color */
}
